<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Figurados y Mallas</title>
  <link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">

  <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">


  

  <header>   <!-- HEADER -->
    <video autoplay="autoplay" loop="loop" id="video_background" preload="auto" onloadedmetadata="this.muted=true"/>
      <source src="media/VideoFiguradosyMallas.mp4" type="video/mp4" />
    </video/>
        <section class="textos-header"> 
    <h1>Material para construcción</h1>
    <h2>Malla Electrosoldada - Hierro figurado</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.21,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
 </header>


         {{{body}}}


    <h2 class="col-lg-8 mx-auto">Contactenos</h2>

    <div class="col-lg-8 mx-auto">

      <div ALIGN="justify">
        <p class="lead">En este apartado usted tiene la opcion de comunicarse con nuestro personal y enviarle sus
          inquietudes </p>
        <p class="lead">La comunicacion es la clave del exito, es por eso que manejamos un liderazgo pertinente para
          cada situacion .</p>
      </div>


      <div class="row">


        <div class="col-lg-5 mb-lg-0 mb-4">


          <div class="card">
            <div class="card-body">
              <form action="/new-contacto" method="POST">
                <div class="form-group">
                    <input type="text" name="firstname" placeholder="Firstname" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="lastname" placeholder="Lastname" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="email" class="form-control">
                </div>
                <div class="form-group">
                    <textarea  type="tel" name="message" placeholder="Mensaje" rows="3" class="form-control"></textarea>
                </div>
                                <!-- Default unchecked -->
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="b2">
                  <label class="form-check-label" for="exampleCheck1">Confirmar </label>
                </div>
                <button class="btn btn-primary btn-block">
                    Add
                </button>
            </form>

            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2364.698872493632!2d-74.09585233428948!3d4.605908901140117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99149ef16495%3A0x62f5c65aada98f27!2sFIGURADOS%20Y%20MALLAS%20CUNDINAMARCA%20S.A.!5e0!3m2!1ses!2sco!4v1589670559650!5m2!1ses!2sco"
              width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fas fa-map-marker-alt"></i>
              </a>
              <p>Bogota,4720000</p>
              <p class="mb-md-0">Colombia</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fas fa-phone"></i>
              </a>
              <p>Sede Ricaurte: Calle 7 # 27 - 31 Tel: 408 7362</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fas fa-envelope"></i>
              </a>
              <p>Sede Ricaurte 2: Calle 7 # 27 - 71 Tel:738 9616</p>
              <p class="mb-0">info@figuradosymallas.com</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  

 <!-- Footer -->
 <footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

 </footer>
<!-- Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>


      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
  Swal.fire({
	title: '¿Hierro Figurado?',
	text:'Búscanos como Figurados y Mallas SAS',
	showConfirmButton: false,
	icon: 'info',
	footer: "Anuncio",
	width: '300px',
	padding: '1rem',
	background: '#fff',
	grow: false,
	backdrop: false,
	timer: 20000,
	timerProgressBar: true,
	toast: false,
	position: 'bottom-end',
	allowOutsideClick: false,
	allowEscapeKey: false,
	stopKeydownPropagation: false,
	showConfirmButton: false,
	showCancelButton: false,
	showCloseButton:true,
	//closeButtonArialLabel: 'Cerrar esta alerta',
	imageUrl:'media/fleje.png',
	imageWidth:'100%',
	//imageAlt:'Imagen de una computadora',
});
</script>
  <script>
    $("#b2").click(function () {
      Swal.fire({
        //position: 'top-end',
        icon: 'success',
        title: '¿Estado de solictud?',
        text: 'Su solicitud sera enviada, en breve nos conctactaremos con usted',
        showConfirmButton: false,
        timer: 1500
      });
    });
  </script>

</body>

</html>
