<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Figurados y Mallas SAS</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="Title" content="Figurados y Mallas SAS - Hierro figurado - Malla electrosoldada - Materiales para construccion."> 
  <meta name="Author" content="Johan Pinzon">
  <meta name="Subject" content="Materiales para construccion">
  <meta name="description" content="figurados y mallas, los mejores en materiales para construccion">
  <meta name="keywords" content="hierro figurado, hierro, malla electrosoldada, acero, materiales para construccion, figurados y mallas">
  <meta name="language" content="spanish">
  <link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">  <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/user.css" rel="stylesheet">

    <!--Calculator-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
      onload="renderMathInElement(document.body, {
                delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false}
                ]
            });"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

  <!-- =======================================================
  * Template Name: SoftLand - v2.0.1
  * Template URL: https://bootstrapmade.com/softland-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>

  <!-- ======= Mobile Menu ======= -->
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <!-- ======= Header ======= -->
  <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-lg-2">
          <h1 class="mb-0 site-logo">
          <a href="/" class="mb-0">
            <img src="/media/logo.png" alt="Image" class="img-fluid"> 
          </a></h1>

             
        

        </div>

        <div class="col-12 col-md-10 d-none d-lg-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a href="/" class="nav-link"> Home</a></li>
              <li><a href="/nosotros" class="nav-link">Nosotros</a></li>
              <li><a href="/productos" class="nav-link">Productos</a></li>
              <li><a href="/contacto" class="nav-link">Contacto</a></li>
              <li>
                <a href="https://api.whatsapp.com/send?phone=573214526053&text=Hola,%20qué%20tal!%20quiero%20más%20información." target="_blank">
                  <span style="font-size: 3rem;">
                  <span style="color: rgb(0, 255, 98);">   
                  <i class="fab fa-whatsapp "></i>
                  </span>
                  </span>               
                </a>    
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-6 d-inline-block d-lg-none ml-md-0 py-3" style="position: relative; top: 3px;">

          <a href="#" class="burger site-menu-toggle js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
        </div>

      </div>
    </div>

  </header>



  {{{body}}}

     <!-- ======= MAPA Section ======= -->
    <section class="section cta-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 mr-auto text-center text-md-left mb-5 mb-md-0">
            <h2 class="text-center">Su mejor opción en hierro figurado, mallas electrosoldadas con calidad, precio y rapidez.</h2>
          </div>
          <div class="col-md-5 text-center text-md-right">
            <p><a href="/contacto" class="btn"><span class="icofont-envelope mr-3"></span>CONTÁCTENOS </a></p>
          </div>

          
        </div>
      </div>
    </section><!-- End MAPA Section -->
  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
            <div class="">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <img src="/media/logo.png" alt="Image" class="img-fluid" >  
                            <p>La mejor opción en acero figurado y malla electrosoldada.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <h3 >Guía</h3>
                                <hr class="line">                                
                                <ul class="list-unstyled f_list">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/nosotros">Nosotros</a></li>
                                    <li><a href="/productos">Productos</a></li>
                                    <li><a href="/contacto">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                                <h3>Servicio al cliente</h3>                                
                                <hr class="line">                                                               
                                <ul class="list-unstyled f_list">
                                  <li><p class="text-left"><span class="icofont-clock-time mr-3"></span>Lunes-Viernes: 7am a 5:30pm</p></li>
                                  <li><p class="text-left"><span class="icofont-clock-time mr-3"></span>Sábado: 8am a 1pm</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                                <h3 >Contacto</h3>                              
                                <hr class="line">                                           
                                <ul class="list-unstyled">
                                  <li><p class="text-left"><span class="icofont-location-pin mr-3"></span>Calle 7 No. 27 - 31 Ricaurte</p></li>
                                  <li><p class="text-left"><span class="icofont-iphone mr-3"></span>321 452 6053</p></li>
                                  <li><p class="text-left"><span class="icofont-phone mr-3"></span>408 7362 - 738 9616</p></li>
                                  <li><p class="text-left"><span class="icofont-email mr-3"></span>info@figuradosymallas.com</p></li>
                                  <a href="https://api.whatsapp.com/send?phone=573502254391&text=Hola,%20qué%20tal?,%20quiero%20un%20dashboard%20para%20mi%20negocio!" target="_blank">
                                    <span style="font-size: 3rem;">
                                    <span style="color: rgb(0, 255, 98);">   
                                    <i class="fab fa-whatsapp "></i>
                                    </span>
                                    </span>               
                                </a>                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                              <img src="/media/barrasvector3.png" alt="Image" class="img-fluid" width="1800" height="300">    
                </div>
            </div>
  </footer><!-- ======= END footer ======= -->
 

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  


   <!-- Vendor JS Files -->
   <!-- Bootstrap core JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
   <script src="/js/validate.js"></script>

</body>

</html>