<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Figurados y Mallas</title>
  <link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Figurados y Mallas SAS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Servicios">Servicios</a>
          </li>
           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
    <a class="btn btn-outline-primary" href="/signup">Login</a>
  </nav>
  

  <header>   <!-- HEADER -->
    <video autoplay="autoplay" loop="loop" id="video_background" preload="auto" onloadedmetadata="this.muted=true"/>
      <source src="media/VideoFiguradosyMallas.mp4" type="video/mp4" />
    </video/>
        <section class="textos-header"> 
    <h1>Material para construcción</h1>
    <h2>Malla Electrosoldada - Hierro figurado</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.21,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
 </header>
<section id="Nosotros">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Acerca de nosotros</h2>
          <div ALIGN="justify">
            <p class="lead">Somos una empresa dedicada a la fabricación y comercialización de productos para la
              construcción, con amplia experiencia en el sector ferreterro, nos hemos destacado en el mercado
              por el cumplimiento, calidad de nuestros productos y precios altamente competitivos que
              ofrecemos a los clientes.</p>
            <p class="lead">Dentro del plan de crecimiento y diversificación geográfica hemos integrado un selecto grupo
              de asesores comerciales, a fin de darle un adecuado soporte a nuestro clientes y abrir nuevos
              mercados en el panorama nacional. Desde la creación de la empresa contamos con una flotilla de camiones
              para la entrega de los pedidos a nuestros clientes.</p>
            <p class="lead">
              Conformamos un equipo humano de óptima calidad que trabaja siempre pensando en los clientes, proveedores y
              colaboradores. Ofrecemos los mejores productos buscando la excelencia, para llegar a un nivel de servicios
              que nos permita alcanzar un desarrollo integral como personas y como empresa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="media">
            <img
              src="https://sites.google.com/site/elektromechanicke/_/rsrc/1396360494971/home/ico1_o_electromecanica.png?height=246&width=320"
              class="align-self-center mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Mision</h5>
              <div ALIGN="justify">
                <p class="lead">Elaboración y comercialización de productos con altos estándares de calidad que
                  cumplan con las normas técnicas exigidas en el mercado nacional, para su comercialización y uso a
                  nivel industrial, metalmecánico, construcción y agrícola.</p>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h5 class="mt-0 ">Vision</h5>
              <div ALIGN="justify">
                <p class="lead">Figurados y Mallas SAS sera una empresa confiable, que genere credibilidad a sus
                  clientes, trabajadores,
                  accionistas y a la comunidad en general, destacándonos en el mercado del acero a nivel nacional,
                  produciendo nuevos y mejores productos.Renovando tecnológicamente los principales procesos
                  productivos, que aplican una gestión integral enfocada en la prevención de riesgos en calidad, medio
                  ambiente, salud y seguridad, en la mejora continua de su desempeño y rendimiento.</p>
              </div>
            </div>
            <img src="https://www.nicepng.com/png/detail/88-880111_vision-mision-y-vision-png.png" class="ml-3"
              alt="..." height="225px" width="300px">
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section id="Servicios">
    <div class="container">
      <div class="row">
        <div class="media">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMN2RUmrEKPEZPgibiqkTSV7tdJ6uK6vSz9XkRy0lUlO7aaDxE&usqp=CAU"
            class="align-self-center mr-3" alt="...">
          <div class="media-body">
            <h2>¿Que servicios ofrecemos?</h2>
            <div ALIGN="justify">
              <p class="lead"> Elaboración y comercialización de productos con altos estándares de calidad que cumplan
                con las normas técnicas exigidas en el mercado nacional, para su comercialización y uso
                a nivel industrial, metalmecánico, construcción y agrícola.</p>
              <p class="lead">Todo el proceso es vigilado por estrictos controles de calidad, mediante
                diferentes pruebas que aseguran su resistencia. Utilizamos acero de calidad acorde a las
                normas ICONTEC NTC - 2289 Y NTC - 161.</p>
              <ul>
                <li class="lead">Control de resistencia</li>
                <li class="lead">Ensayo de tracción</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="Productos" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="media">
          <img src="https://docplayer.es/docs-images/66/56009643/images/10-1.jpg" class="mr-3" alt="..." height="225px"
            width="300px">
          <div class="media-body">
            <h5 class="mt-0">Hierro Figurado</h5>
            <div ALIGN="justify">
              <p class="lead">Este acero es de refuerzo para concreto armado que ha sido cortado y figurado en una
                planta
                especializada. Este se figura con criterio técnico y maquinas especializadas en
                cortes y dobleces.</p>
            </div>
            <div class="media mt-3">
              <a class="mr-3" href="#">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF7iUspZAUna7u9ZncHlF4RrTdesEJWMkKPZ_dOj5PGXSp43cY&usqp=CAU"
                  class="mr-3" alt="..." height="225px" width="300px">
              </a>
              <div class="media-body">
                <h5 class="mt-0">Digitacion</h5>
                <div ALIGN="justify">
                  <p class="lead"> El cliente suministra la planilla de pedido o la elabora con nuestro software
                    ,esta contiene el listado detallado del material.Reproducimos
                    diversas formas y diseños. Los diagramas deberán mostrar los detalles pertinentes del
                    figurado y distribución de hierros en la estructura.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Proceso</h2>
          <div ALIGN="justify">
            <p class="lead">El acero es cortado y doblado con el uso de cizallas y dobladoras eléctricas de control
              númerico</p>
            <p class="lead">El producto armado y correctamente etiquetado es cargado en nuestra flota de camiones.
              Prestamos este servicio a clientes sin costo si la carga es menor a 2 toneladas. Se entrega en el punto
              indicado por el cliente.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Contacto" class="bg-light">


    <h2 class="col-lg-8 mx-auto">Contactenos</h2>

    <div class="col-lg-8 mx-auto">

      <div ALIGN="justify">
        <p class="lead">En este apartado usted tiene la opcion de comunicarse con nuestro personal y enviarle sus
          inquietudes </p>
        <p class="lead">La comunicacion es la clave del exito, es por eso que manejamos un liderazgo pertinente para
          cada situacion .</p>
      </div>


      <div class="row">


        <div class="col-lg-5 mb-lg-0 mb-4">


          <div class="card">
            <div class="card-body">
              <form action="/new-contacto" method="POST">
                <div class="form-group">
                    <input type="text" name="firstname" placeholder="Firstname" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="lastname" placeholder="Lastname" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="email" class="form-control">
                </div>
                <div class="form-group">
                    <textarea  type="tel" name="message" placeholder="Mensaje" rows="3" class="form-control"></textarea>
                </div>
                <button class="btn btn-primary btn-block">
                    Add
                </button>
            </form>

            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2364.698872493632!2d-74.09585233428948!3d4.605908901140117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99149ef16495%3A0x62f5c65aada98f27!2sFIGURADOS%20Y%20MALLAS%20CUNDINAMARCA%20S.A.!5e0!3m2!1ses!2sco!4v1589670559650!5m2!1ses!2sco"
              width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fas fa-map-marker-alt"></i>
              </a>
              <p>Bogota,4720000</p>
              <p class="mb-md-0">Colombia</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fas fa-phone"></i>
              </a>
              <p>Sede Ricaurte: Calle 7 # 27 - 31 Tel: 408 7362</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fas fa-envelope"></i>
              </a>
              <p>Sede Ricaurte 2: Calle 7 # 27 - 71 Tel:738 9616</p>
              <p class="mb-0">info@figuradosymallas.com</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  

 <!-- Footer -->
 <footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

 </footer>
<!-- Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
