   <!-- ======= Hero Section ======= -->
  <section class="hero-section inner-page" id="hero">
    
        <video autoplay="autoplay" loop="loop" id="video_background" preload="auto" onloadedmetadata="this.muted=true"/>
      <source src="media/VideoFiguradosyMallas.mp4" type="video/mp4" />
    </video/>

    <div class="wave">

      <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
            <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z" id="Path"></path>
          </g>
        </g>
      </svg>

    </div>

  </section><!-- End Hero -->
 <section class="section">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>Contacto</h2>
          </div>

        </div>

        <div class="row">      
          <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
            <ul class="list-unstyled">
              <li class="mb-3">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2364.698872493632!2d-74.09585233428948!3d4.605908901140117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99149ef16495%3A0x62f5c65aada98f27!2sFIGURADOS%20Y%20MALLAS%20CUNDINAMARCA%20S.A.!5e0!3m2!1ses!2sco!4v1589670559650!5m2!1ses!2sco"
                    width="400" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0">
                </iframe>  
                </li>
                  <li><p class="text-left"><span class="icofont-location-pin mr-3"></span>Calle 7 No. 27 - 31 Ricaurte</p></li>
                  <li><p class="text-left"><span class="icofont-iphone mr-3"></span>321 452 6053</p></li>
                  <li><p class="text-left"><span class="icofont-phone mr-3"></span>408 7362 - 738 9616</p></li>
                  <li><p class="text-left"><span class="icofont-email mr-3"></span>info@figuradosymallas.com</p></li>
            </ul>
          </div>

          <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">
            <form action="/" method="post" role="form" class="php-email-form">

              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="name">Nombre</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="name">Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-12 form-group">
                  <label for="name">Teléfono</label>
                  <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-12 form-group">
                  <label for="name">Mensaje</label>
                  <textarea class="form-control" name="message" cols="30" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                  <div class="validate"></div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="col-md-6 form-group">
                  <input type="submit" class="btn btn-primary d-block w-100" value="Enviar">
                </div>
              </div>

            </form>
          </div>

        </div>
      </div>
    </section>
