  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Figurados y Mallas SAS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Servicios">Servicios</a>
          </li>
           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/cotizar">Cotizaciones</a>
          </li>
        </ul>
      </div>
    </div>
    <a class="btn btn-outline-primary" href="/signup">Login</a>
  </nav>
  
<section id="Nosotros">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Acerca de nosotros</h2>
          <div ALIGN="justify">
            <p class="lead">Somos una empresa dedicada a la fabricación y comercialización de productos para la
              construcción, con amplia experiencia en el sector ferreterro, nos hemos destacado en el mercado
              por el cumplimiento, calidad de nuestros productos y precios altamente competitivos que
              ofrecemos a los clientes.</p>
            <p class="lead">Dentro del plan de crecimiento y diversificación geográfica hemos integrado un selecto grupo
              de asesores comerciales, a fin de darle un adecuado soporte a nuestro clientes y abrir nuevos
              mercados en el panorama nacional. Desde la creación de la empresa contamos con una flotilla de camiones
              para la entrega de los pedidos a nuestros clientes.</p>
            <p class="lead">
              Conformamos un equipo humano de óptima calidad que trabaja siempre pensando en los clientes, proveedores y
              colaboradores. Ofrecemos los mejores productos buscando la excelencia, para llegar a un nivel de servicios
              que nos permita alcanzar un desarrollo integral como personas y como empresa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="media">
            <img
              src="https://sites.google.com/site/elektromechanicke/_/rsrc/1396360494971/home/ico1_o_electromecanica.png?height=246&width=320"
              class="align-self-center mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Mision</h5>
              <div ALIGN="justify">
                <p class="lead">Elaboración y comercialización de productos con altos estándares de calidad que
                  cumplan con las normas técnicas exigidas en el mercado nacional, para su comercialización y uso a
                  nivel industrial, metalmecánico, construcción y agrícola.</p>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h5 class="mt-0 ">Vision</h5>
              <div ALIGN="justify">
                <p class="lead">Figurados y Mallas SAS sera una empresa confiable, que genere credibilidad a sus
                  clientes, trabajadores,
                  accionistas y a la comunidad en general, destacándonos en el mercado del acero a nivel nacional,
                  produciendo nuevos y mejores productos.Renovando tecnológicamente los principales procesos
                  productivos, que aplican una gestión integral enfocada en la prevención de riesgos en calidad, medio
                  ambiente, salud y seguridad, en la mejora continua de su desempeño y rendimiento.</p>
              </div>
            </div>
            <img src="https://www.nicepng.com/png/detail/88-880111_vision-mision-y-vision-png.png" class="ml-3"
              alt="..." height="225px" width="300px">
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section id="Servicios">
    <div class="container">
      <div class="row">
        <div class="media">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMN2RUmrEKPEZPgibiqkTSV7tdJ6uK6vSz9XkRy0lUlO7aaDxE&usqp=CAU"
            class="align-self-center mr-3" alt="...">
          <div class="media-body">
            <h2>¿Que servicios ofrecemos?</h2>
            <div ALIGN="justify">
              <p class="lead"> Elaboración y comercialización de productos con altos estándares de calidad que cumplan
                con las normas técnicas exigidas en el mercado nacional, para su comercialización y uso
                a nivel industrial, metalmecánico, construcción y agrícola.</p>
              <p class="lead">Todo el proceso es vigilado por estrictos controles de calidad, mediante
                diferentes pruebas que aseguran su resistencia. Utilizamos acero de calidad acorde a las
                normas ICONTEC NTC - 2289 Y NTC - 161.</p>
              <ul>
                <li class="lead">Control de resistencia</li>
                <li class="lead">Ensayo de tracción</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="Productos" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="media">
          <img src="https://docplayer.es/docs-images/66/56009643/images/10-1.jpg" class="mr-3" alt="..." height="225px"
            width="300px">
          <div class="media-body">
            <h5 class="mt-0">Hierro Figurado</h5>
            <div ALIGN="justify">
              <p class="lead">Este acero es de refuerzo para concreto armado que ha sido cortado y figurado en una
                planta
                especializada. Este se figura con criterio técnico y maquinas especializadas en
                cortes y dobleces.</p>
            </div>
            <div class="media mt-3">
              <a class="mr-3" href="#">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF7iUspZAUna7u9ZncHlF4RrTdesEJWMkKPZ_dOj5PGXSp43cY&usqp=CAU"
                  class="mr-3" alt="..." height="225px" width="300px">
              </a>
              <div class="media-body">
                <h5 class="mt-0">Digitacion</h5>
                <div ALIGN="justify">
                  <p class="lead"> El cliente suministra la planilla de pedido o la elabora con nuestro software
                    ,esta contiene el listado detallado del material.Reproducimos
                    diversas formas y diseños. Los diagramas deberán mostrar los detalles pertinentes del
                    figurado y distribución de hierros en la estructura.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Proceso</h2>
          <div ALIGN="justify">
            <p class="lead">El acero es cortado y doblado con el uso de cizallas y dobladoras eléctricas de control
              númerico</p>
            <p class="lead">El producto armado y correctamente etiquetado es cargado en nuestra flota de camiones.
              Prestamos este servicio a clientes sin costo si la carga es menor a 2 toneladas. Se entrega en el punto
              indicado por el cliente.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Contacto" class="bg-light">
