  <div id="login_div" class="main-div">
    <h3>Figurados y Mallas privileged sesion</h3>
    <input type="email" placeholder="Email..." id="email_field" />
    <input type="password" placeholder="Password..." id="password_field" />

    <button onclick="login()">Login to Account</button>
  </div>
  <div id="user_div" class="loggedin-div">
  
    <h3>Welcome User</h3>
    <p id="user_para">
                                 
                  {{#Traslate}}
                 {{this}}
                  {{/Traslate}}
    </p>
    <img src="/media/deve.png" alt="">
  </div>